<!DOCTYPE html>
<html>
  <head>
    <title>Trending News...</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<style type="text/css">
#loader{
        height:0vh;
		align-items:center;
		display:flex;
		justify-center:center;
		}
		
		.progress{
		display:none;
		}
		
		.errorMsg{
		font-size:34px;
		height:100vh;
		align-items:center;
		display:flex;
		justify-center:center;
		}
		
		</style>
		</head>
		
		<body>
		
		<div class="navbar-fixed">
		<nav>
		     <div class="nav-wrapper">
			 <div class="container">
			 <a href="#" class="brand-logo">Trending News...</a>
			 <ul id="nav-mobile" class="right hide-on-med-and-down">
			 <li> <a href="index.html">News</a></li>
			  <li> <a href="about.html">About Us</a></li>
			   <li> <a href="contact.html">contact</a></li>
			   <li> <a href="../Controllers/login.php">Logout</a></li>
			   </ul>
			   </div>
			   </div>
			   </nav>
			   </div>
		
<div class="container">

<div>


<div class="col-md-4">
                    <h4 class="h3class">Corporate Office</h4>
                    <ul class="footer_menu">
                        <li><i class="fa fa-map-marker"></i>Trending News Observer<br>
                            Plot # 11, JLN B/S- 9/14, Section-8,<br>
                            East Raja Bazar, Tejgaon, Dhaka-1215</li>
                        <li><i class="fa fa-phone"></i> +60199197322</li>
                        <li><i class="fa fa-fax"></i> Fax: 8932625</li>
                        <li><i class="fa fa-envelope"></i><br>
                            </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="footerRight">
                        <strong>Chief Advisor: </strong><br>
                        Aslam Hossain<br>
                        <strong>Editor & Publisher:</strong><br>
                        Ashraf Taif <br>
                        <strong>International Asst. editor:</strong><br>
                        Star Bangla News <br>
                        Published by the publisher on behalf of Shafi Shirin Business Corporation. Printed at National Printing Press from East Raja Bazar, Tejgaon, Dhaka-1215.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    &copy; 2019 Trending News Observer All rights reserved 
                </div>
               
            </div>
        </div>
    </div>
</footer>
<script type='text/javascript' src='https://www.businessleader.club/wp-includes/js/wp-embed.min.js?ver=5.0.4'></script>
<script type="text/javascript">
$(function() {
	$("#toTop").scrollToTop(1000);
});
</script>



</div>

   <div class="row">
       <div id="newsResults">
</div>
</div>

<div id="loader">
  <div class="progress">
    <div class="indeterminate"></div>
</div>
</div>
</div>

<script src="jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="#"></script>
  
</body>
</html>	
			   