<!DOCTYPE html>
<html>
  <head>
    <title>Trending News...</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	<link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	

		</head>
		
		<body>
		
		<div class="navbar-fixed">
		<nav>
		     <div class="nav-wrapper">
			 <div class="container">
			 <a href="#" class="brand-logo">Trending News...</a>
			 <ul id="nav-mobile" class="right hide-on-med-and-down">
			 
			 <li> <a href="index.html">News</a></li>
			  <li> <a href="about.html">About Us</a></li>
			   <li> <a href="contact.html">contact</a></li>
			   <li> <a href="../Controllers/login.php">Logout</a></li>
			   </ul>
			   </div>
			   </div>
			   </nav>
			   </div>
		
<div class="container">
   <div class="row">
       <div id="newsResults">
</div>
</div>

<div>




</div>

<div id="loader">
  <div class="progress">
    <div class="indeterminate"></div>
</div>
</div>
</div>

<script src="jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="../Controllers/news.js"></script>
  
</body>
</html>	
			   